<html xmlns:wicket>
<body>
<wicket:panel>
    <div>

        <wicket:enclosure child="signin">
            <a href="" wicket:id="register" class="btn btn-default"><wicket:message key="form.register.title" /></a>
            <a href="" wicket:id="signin" class="btn btn-success"><wicket:message key="form.login.title" /></a>
        </wicket:enclosure>

        <wicket:enclosure child="signout">
            <div class="loginPanel">


                <div class="btn-group">
                    <a class="btn " href="" wicket:id="userProfile"><i class="icon-user"></i> <strong wicket:id="username"></strong></a>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                        <wicket:enclosure child="editUsers">
                            <li class="divider">Admin</li>
                            <li><a href="" wicket:id="editUsers">Benutzer bearbeiten</a></li>
                        </wicket:enclosure>
                    </ul>
                </div>

                <a href="" wicket:id="signout" class="btn "><i class="icon-off"></i> Abmelden</a>
            </div>
        </wicket:enclosure>
    </div>
</wicket:panel>
</body>
</html>
