$outerBorderColor: #333;
$categoryTitleBg: lighten($outerBorderColor, 40%);
$categoryBg: lighten($outerBorderColor, 70%);
$innerBorderColor: $categoryTitleBg;
$innerPadding: 10px;

/*
 * Criterion Page 
 */
.criterion-page, .criterion-group {
    border: 1px solid #cccccc;
    @include box-shadow(0 0 3px #eee);
    background-color: #fff;
    
    &:not(:last-child) {
        margin-bottom: 5px;
    }
    
    &.placeholder {
        border: 1px dashed #ccc;
        height: 70px;
    }
    
    .criterion-page-header, .criterion-group-header {
        padding: 3px;
        border-bottom: #aaa;
        background: #eee;
    }

    .criterion-page-body, .criterion-group-body {
        padding: 5px;
        
        .pageItem {
            border: 1px solid #ccc;
            padding: 5px;
            
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

.criterion-category {
    background-color: $categoryBg;
    overflow: hidden;
    margin-bottom: 15px;
    .criterion-category-title {
        color: contrast($categoryTitleBg);
        background-color: $categoryTitleBg;
        font-weight: bold;
        text-align: center;
        padding: $innerPadding;
        margin-bottom: $innerPadding - 3px;
    }
}

.criterion-block {
    background-color: #fff;
    margin-bottom: 6px;
    .criterion {
        font-weight: bold;
        color: #000;
    }

    .criterion-description {
        margin-bottom: 5px;
    }

    .measure {
        .control-group:last-child {
            margin-bottom: 0px;
        }

        .table {
            margin-bottom: 0px;
            th , td {
                text-align: center;
                vertical-align: middle;
            }

            td.sub-measure {
                text-align: left;
            }
        }
    }
}

.page-canvas {
    margin-bottom: 10px;
}

