
html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 310px;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 400;
}

// === HEADER ===============
header {
    .user-nav-wrapper {
        background-color: $user-nav-background-color;
        border-bottom: 1px solid $user-nav-border-color;
        font-size: 12px;
        height: 35px;
        
        .user-nav-additional {
            padding-top: 9px;
        }
        
        .user-nav {
            background-color: #fff;
            border: 1px solid;
            border-color: transparent #e8e8e8;
            float: right;
            padding: 9px 10px 7px 10px;
            a {
                color: #000;
                text-decoration: none;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }

    .main-nav-wrapper {
        margin-top: 15px;
        margin-bottom: 15px;

        .navbar-oasis {
            margin-top: 10px;
            margin-left: 5px;
            min-height: 0px;
            
            .navbar-collapse {
                padding-right: 0px;
            }
            
            .navbar-toggle {
                background-color: $user-nav-background-color;
                border: 1px solid $user-nav-border-color;
                
                .icon-bar {
                    background-color: $user-nav-border-color;
                }
            }
            
            .navbar-nav {
                &>li {
                    &>a {
                        @include border-radius(0px !important);
                        padding: 10px 15px;
                        margin-left: 5px;
                        color: $text-color;
                        background-color: #efefef;
                        
                        &:hover {
                            background-color: lighten($main-theme-color, 20%);
                        }
                    }
                    &.active {
                        a {
                            background-color: $main-theme-color;
                            color: #fff;
                        }
                    }
                } 
            }
        }
    }
    
    .breadcrumb {
        background-color: $user-nav-background-color;
        border-top: 2px solid $user-nav-border-color;
        border-bottom: 1px solid $user-nav-border-color;
        
        h1 {
            margin: 10px 0;
            font-size: 25px;
        }
    }
}

.jumbotron {
    p {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding-left: 5px;
    }
}

footer {
    margin-top: 20px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: $footerHeight;
    
    #footerTop {
        padding: 40px 0;
        background-color: $main-theme-color;
    }

    #footerBottom {
        
        background-color: darken($main-theme-color, 10%);
        a {
            margin: 0px 4px;
        }
    }

    h3 {
        font-size: 14px;
        margin: 20px 0 15px 0;
    }

    a {
        color: #fff;
        &:hover , &:active , &:focus {
            color: #fff;
        }
    }

    .supporter {
        a:not(:last-child) {
            .img {
                margin-bottom: 25px;
            }
        }
    }
}

.feedbackPanel {
    .alert {
        margin-bottom: 20px;
    }
}

.sidebar {
    background-color: $table-bg-hover;
}

.table {
    &.table-no-border {
        th , td , tr {
            border: none;
        }
    }

    &.table-border-top-bottom {
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
        th , td , tr {
            border: none;
        }
    }
    
    td.actions, th.actions {
        white-space: nowrap;
    }
}

.jumbotron {
    h3 {
        span {
            padding: 5px;
            background: rgba(0, 0, 0, 0.6);
            line-height: 45px;
            color: #fff;
        }
    }
}

tr .id {
    width: 25px;
}

.empty {
    color: #aaaaaa;
}

.monospace {
    font-family: $font-family-monospace;
}

.control-label {
    font-weight: bold;
}

.form-centered-container {
    margin: 0px auto;
}

.navbar-secondary {
    margin-top: 10px;
}

input[type="file"] {
    line-height: normal;
    height: 20px;
}

.text-left {
    text-align: left ! important;
}

.text-right {
    text-align: right ! important;
}

.text-center {
    text-align: center ! important;
}

#chartdiv {
    border: 1px solid #aaaaaa;
    &.chalk {
        background-color: #000;
    }
}

.criterionFormElement {
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 10px;
    .table {
        margin-bottom: 0px;
    }
}

// === BLOCK
.block {
    .block-icon {
        width: 70px;
        height: 70px;
        @include border-radius (40px);
        font-size: 30px;
        background: #627987;
        color: #fff;
        line-height: 70px;
        margin: 0 auto;
    }

    .block-title-line {
        height: 1px;
        width: 70px;
        margin: 15px auto;
        background: #DBDBDB;
    }

    .block-body {
        h2 {
            font-size: 19px;
            text-align: center;
        }
    }
}

.form-page {
    margin: 0px auto;
    margin-top: 40px;
    padding: 30px;
    background: #fefefe;
    border: solid 1px #eee;
    @include box-shadow(0 0 3px #eee);
    
    h2 {
        margin-top: 0px;
        display: block;
        text-align: center;
        font-size: 25px;
    }
}

.btn {
    @include border-radius(0px !important);
}

.menubar {
    position: absolute;
    width: 100%;
    left: 0px;
    padding: 5px 0px;
}

.logo-col {
    > .img {
        margin-bottom: 20px;
    }
}

.ajax-loading {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../img/ajax-loader.gif) no-repeat center rgba(0,0,0,0.5);
}

.text-capitalized {
    text-transform: capitalize;
}

@media (max-width: $screen-xs-max) {
    body {
        margin-bottom: 610px;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    body {
        margin-bottom: 610px;
    }
    #contact-maps {
        height: 200px;
    }
}

.list-group-item {
    address {
        margin-bottom: 0px;
    }
}
