<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.sourceforge.net/">
<body>
	<wicket:panel>
		<div wicket:id="hiddenFeedback"></div>
		<div class="container">
			<div class="row">
				<div class="span6 offset3">
					<form class="form-horizontal" wicket:id="registrationForm">
						<fieldset>
							<legend>
								<wicket:message key="form.title"></wicket:message>
							</legend>

							<div class="control-group" wicket:id="usernameControlGroup">
								<input wicket:id="username" type="text" class="input-xlarge">
							</div>

							<div class="control-group" wicket:id="emailControlGroup">
								<input wicket:id="email" type="email" class="input-xlarge">
							</div>

							<div class="control-group" wicket:id="passwordControlGroup">
								<input wicket:id="password" type="password" class="input-xlarge">
							</div>

							<div class="control-group" wicket:id="passwordConfirmControlGroup">
								<input wicket:id="passwordConfirm" type="password" class="input-xlarge">
							</div>

							<div class="control-group" wicket:id="buttonControlGroup">
								<input wicket:id="submit" type="submit" class="btn btn-success">
							</div>

						</fieldset>
					</form>
				</div>
			</div>

			<div wicket:id="success">
                [success message]
			</div>
		</div>
	</wicket:panel>
</body>
</html>