<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.sourceforge.net/">
<body>
<wicket:panel>

    <div class="criterion-block row">
        <div class="criterion" wicket:id="criterion"></div>
        <div class="measure" wicket:id="radio.group">
            <label class="radio-inline" wicket:id="measurement.values">
                <input type="radio" wicket:id="radio" />
                <span wicket:id="label"></span>
            </label>
        </div>
    </div>

</wicket:panel>
</body>
</html>