@import "../vendors/bootstrap/less/variables.less";
@import "../vendors/bootstrap/less/mixins.less";
@import "userInfoBlock.less";
@import "criteria.less";

.sidebar {
  background-color: @tableBackgroundHover;
}

.table {
  &.table-no-border {
    th, td, tr {
      border: none;
    }
  }
  &.table-border-top-bottom {

    border-top: 1px solid @tableBorder;
    border-bottom: 1px solid @tableBorder;

    th, td, tr {
      border: none;
    }
  }
}
tr .id {
  width: 25px;
}

.empty {
  color: #aaaaaa;
}

.monospace {
  font-family: @monoFontFamily;
}

.control-label {
  font-weight: bold;
}

.form-centered-container {
  margin: 0px auto;
}

#logo {
  margin: 5px 10px 20px 10px;
}

.navbar-secondary {
  margin-top: 10px;
}

input[type="file"] {
  line-height: normal;
  height: 20px;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}