<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_containered">
<body layout:fragment="content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form wicket:id="userprofile" class="form-page">
                <fieldset>
                    <label><wicket:message key="label.name" /></label>
                    <div class="row">
                        <div class="form-group col-xs-2">
                            <input class="form-control" type="text" id="nameSuffix" wicket:id="nameSuffix"/>
                        </div>
                        <div class="form-group col-xs-5">
                            <input class="form-control" type="text" id="firstname" wicket:id="firstname"/>
                        </div>
                        <div class="form-group col-xs-5">
                            <input class="form-control" type="text" id="surename" wicket:id="surname"/>
                        </div>
                    </div>

                    <label><wicket:message key="label.phone" /></label>
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <input class="form-control" type="text" id="phone.countryCode" wicket:id="phone.countryCode"/>
                        </div>
                        <div class="form-group col-xs-4">
                            <input class="form-control" type="text" id="phone.areaCode" wicket:id="phone.areaCode"/>
                        </div>
                        <div class="form-group col-xs-5">
                            <input class="form-control" type="text" id="phone.subscriberNumber" wicket:id="phone.subscriberNumber"/>
                        </div>
                    </div>

                    <label><wicket:message key="label.fax" /></label>
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <input class="form-control" type="text" id="fax.countryCode" wicket:id="fax.countryCode"/>
                        </div>
                        <div class="form-group col-xs-4">
                            <input class="form-control" type="text" id="fax.areaCode" wicket:id="fax.areaCode"/>
                        </div>
                        <div class="form-group col-xs-5">
                            <input class="form-control" type="text" id="fax.subscriberNumber" wicket:id="fax.subscriberNumber"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="website"><wicket:message key="label.website" /></label>
                        <input class="form-control" type="text" id="website" wicket:id="website"/>
                    </div>

                    <div class="form-group">
                        <label for="professional"><wicket:message key="label.professional" /></label>
                        <input class="form-control" type="text" id="professional" wicket:id="professional"/>
                    </div>

                    <fieldset>
                        <legend><wicket:message key="label.address" /></legend>
                        <wicket:container wicket:id="address"></wicket:container>
                    </fieldset>

                    <!-- Submit -->
                    <div class="row">
                        <div class="col-lg-6">
                        </div>
                        <div class="col-lg-6 text-right">
                            <button type="submit" class="btn btn-success"><wicket:message key="label.save" /></button>
                            <button type="reset" class="btn"><wicket:message key="label.cancel" /></button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>