<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_containered">
<body layout:fragment="content">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form th:object="${userProfile}" class="form-page" th:action="@{/user/profile/edit}" method="post">
                <fieldset>
                    <label th:text="#{label.name}"></label>
                    <div class="row">
                        <div class="form-group col-xs-2">
                            <input class="form-control" type="text" id="nameSuffix" th:field="*{nameSuffix}" th:placeholder="#{label.nameSuffix}"/>
                        </div>
                        <div class="form-group col-xs-5">
                            <input class="form-control" type="text" id="firstname" th:field="*{firstname}" th:placeholder="#{label.firstname}"/>
                        </div>
                        <div class="form-group col-xs-5">
                            <input class="form-control" type="text" id="surename" th:field="*{surname}" th:placeholder="#{label.surname}" />
                        </div>
                    </div>

                    <label th:text="#{label.phone}"></label>
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <input class="form-control" type="text" id="phone.countryCode" th:field="*{telefon.countryCode}" th:placeholder="#{label.phone.countryCode}"/>
                        </div>
                        <div class="form-group col-xs-4">
                            <input class="form-control" type="text" id="phone.areaCode" th:field="*{telefon.areaCode}" th:placeholder="#{label.phone.areaCode}"/>
                        </div>
                        <div class="form-group col-xs-5">
                            <input class="form-control" type="text" id="phone.subscriberNumber" th:field="*{telefon.subscriberNumber}" th:placeholder="#{label.phone.subscriberNumber}"/>
                        </div>
                    </div>

                    <label th:text="#{label.fax}"></label>
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <input class="form-control" type="text" th:field="*{telefax.countryCode}" th:placeholder="#{label.phone.countryCode}"/>
                        </div>
                        <div class="form-group col-xs-4">
                            <input class="form-control" type="text" th:field="*{telefax.areaCode}" th:placeholder="#{label.phone.areaCode}"/>
                        </div>
                        <div class="form-group col-xs-5">
                            <input class="form-control" type="text" th:field="*{telefax.subscriberNumber}" th:placeholder="#{label.phone.subscriberNumber}"/>
                        </div>
                    </div>


                    <!-- Submit -->
                    <div class="row">
                        <div class="col-lg-6">
                        </div>
                        <div class="col-lg-6 text-right">
                            <button type="submit" class="btn btn-primary" th:text="#{label.save}">
                                Speichern
                            </button>
                            <button type="reset" class="btn" th:text="#{label.cancel}">
                                Abbrechen
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>