<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_containered">
<head layout:fragment="header" th:remove="tag">
</head>
<body layout:fragment="content" th:remove="tag">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form" class="form-page" th:action="@{/resetPassword/{token}(token=${resetPasswordToken})}" th:object="${resetPasswordForm}" method="post">
                <h2 th:text="#{label.password.set.new}">
                    Neues Passwort
                </h2>
                <hr>
                <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error' : ''">
                    <input id="password" type="password" class="form-control" th:placeholder="#{label.password}" th:field="*{password}">
                    <p class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                        Incorrect date
                    </p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'has-error' : ''">
                    <input id="confirmPassword" type="password" class="form-control" th:placeholder="#{label.password.confirm}" th:field="*{confirmPassword}">
                    <p class="help-block" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
                        Incorrect date
                    </p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="submit" class="btn btn-primary" th:text="#{label.save}">
                            Speichern
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</body>
</html>