<div class="panel panel-default" th:if="${criterion != null}">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8">
                <span th:text="#{label.criterion}" th:remove="tag"></span>:
                <span th:text="${criterion.name}" th:remove="tag"></span>
                <small>([[#{label.criterion.weight}]]: [[${criterion.weight}]])</small>
            </div>
            <div class="col-md-4" th:if="${edit}">
                <div class="pull-right">
                    <div class="btn-group">
                        <a class="btn btn-xs btn-default btn-move" th:if="${iter.index} > 0" data-type="criterion" data-move-dir="up" th:attr="data-id=${criterion.id}">
                            <span class="fa fa-chevron-up"></span>
                        </a>
                        <a class="btn btn-xs btn-default btn-move" th:if="${iter.index < iter.size-1}" data-type="criterion" data-move-dir="down" th:attr="data-id=${criterion.id}">
                            <span class="fa fa-chevron-down"></span>
                        </a>
                    </div>

                    <div class="btn-group">
                        <a th:href="@{/project/{pid}/criterion/{cid}/edit(pid=${project.id},cid=${criterion.id})}" class="btn btn-xs btn-default">
                            <span class="fa fa-pencil"></span>
                        </a>
                        <a href="" data-type="criterion" th:attr="data-id=${criterion.id}" class="btn btn-xs btn-default btn-delete">
                            <span class="fa fa-remove"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="" th:if="${not #strings.isEmpty(criterion.description)}" th:utext="${criterion.description}">
            Description
        </div>
        <div class="measure">

            <div th:if="${criterion instanceof T(de.stekoe.oasis.model.NominalScaledCriterion)}" th:remove="tag">
                <div th:replace="/project/criterions/generic/nominalScaledCriterion"></div>
            </div>
            <div th:if="${criterion instanceof T(de.stekoe.oasis.model.OrdinalScaledCriterion)}" th:remove="tag">
                <div th:replace="/project/criterions/generic/ordinalScaledCriterion"></div>
            </div>
        </div>
    </div>
</div>