<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="project/layout">
<body>
    <div layout:fragment="project_content">
        <h4 th:text="#{label.description}">
            Beschreibung
        </h4>
        <div th:utext="${project.description}">
            Beschreibungstext
        </div>

        <h4>
            [[#{label.project.member}]]
            <small th:text="${project.projectTeam.size()}">asd</small>
        </h4>
        <div class="list-group">
            <a th:href="@{/user/profile/{id}(id=${member.user.username})}" class="list-group-item" wicket:id="projectMemberItemLink" th:each="member : ${project.projectTeam}">
                <strong th:text="${member.user.username}"></strong>
                <small th:text="${member.projectRole}"></small>
            </a>
        </div>
    </div>
</body>
</html>