<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="project/layout">
<body>
    <div layout:fragment="project_content">
        <h3 th:text="#{label.description}">
            Beschreibung
        </h3>
        <div th:utext="${project.description}">
            Beschreibungstext
        </div>

        <h3 th:text="#{label.project.member(${project.projectTeam.size()})}">
        </h3>

        <div th:each="groupedMembers : ${groupedMembers}">
            <h4 th:text="${groupedMembers.key.name}"></h4>

            <div class="list-group">
                <a th:href="@{/user/profile/{id}(id=${member.user.username})}" class="list-group-item" wicket:id="projectMemberItemLink" th:each="member : ${groupedMembers.value}">
                    <span th:text="${member.user.username}"></span>
                </a>
            </div>
        </div>

    </div>
</body>
</html>