<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="project/layout">
<head layout:fragment="header" th:remove="tag">
    <link rel="stylesheet" th:href="@{/vendors/select2/select2.css}">
    <link rel="stylesheet" th:href="@{/vendors/select2/select2-bootstrap.css}">
    <script th:src="@{/vendors/select2/select2.min.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            //TODO: Implement sorting of roles?
            var sortable = OASIS.sortable.table(function(item, delta) {
                if(delta == 0) {
                    return;
                }

                var id = item.data('id');
                var url = /*[[@{/api/project/{pid}/role(pid=${project.id})}]]*/ '';
                url += '/' + id + '/move';

                if(delta > 0) {
                    url += '/down';
                } else if (delta < 0) {
                    url += '/up';
                }

                console.log(url + '/' + Math.abs(delta));

                OASIS.form.sendJSON(url + '/' + Math.abs(delta), 'PUT');
            });

            $('.btn-delete').on('click', function(event) {
                event.preventDefault();

                var id = $(this).data('id');
                var url = /*[[@{/api/project/{pid}/role(pid=${project.id})}]]*/ '';

                var promise = $.ajax({
                    url: url + '/' + id,
                    type: 'DELETE',
                    beforeSend: function( xhr ) {
                        xhr.setRequestHeader(header, token);
                    }
                });
                promise.success(function(data){
                    data = JSON.parse(data);
                    if(data.ok !== undefined && data.ok === true) {
                        window.location.reload();
                    }
                });
            });

            $('#addProjectRoleModal, #editProjectRoleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var modal = $(this);
                var editMode = modal.attr('id').indexOf("add") === -1;
                var url = /*[[@{/api/project/{pid}/role(pid=${project.id})}]]*/ '';
                var title = /*[[#{label.project.add.role}]]*/ '';
                var form = modal.find('form');

                if(editMode) {
                    title = /*[[#{label.project.edit.role}]]*/ '';
                    url = url + '/' + id;
                }

                modal.find('.modal-title').text(title);

                if(editMode) {
                    modal.find('input[type=checkbox]').prop('checked', false);
                    $.getJSON(url, function (data) {
                        modal.find('#edit_name').val(data.name);

                        var permissions = data.permissions;
                        for(var i = 0; i < permissions.length; i++) {
                            var pt = permissions[i];
                            modal.find('input[value='+pt+']').prop('checked',true);
                        }
                    });
                }

                modal.find('button.save').on('click', function() {
                    OASIS.form.hideErrors(form);

                    var permissions = [];
                    form.find('[name=permission]').each(function(){
                        if($(this).prop('checked')) {
                            permissions.push($(this).val());
                        }
                    });

                    var data = {
                        name: form.find('[name=name]').val(),
                        permissions: permissions
                    };

                    var promise = $.ajax({
                        url: url,
                        type: (editMode ? 'PUT' : 'POST'),
                        data: JSON.stringify(data),
                        contentType:"application/json; charset=utf-8",
                        dataType:"json",
                        beforeSend: function( xhr ) {
                            xhr.setRequestHeader(header, token);
                        }
                    });
                    promise.success(function(data) {
                        data = JSON.parse(data);
                        if(data.ok === true) {
                            window.location.reload();
                        } else {
                            OASIS.form.showErrors(form, data.errors);
                        }
                    });
                });
            });
        });
    </script>
</head>
<body>
<div layout:fragment="project_content">
    <h3 th:text="#{label.project.edit.roles}">
        Projektrollen
    </h3>

    <div class="well">
        <a href="" class="btn btn-default btn-primary" data-toggle="modal" data-target="#addProjectRoleModal">
            <span class="fa fa-plus"></span>
            <span th:text="#{label.add}"></span>
        </a>
    </div>

    <table class="table table-sortable">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th th:text="#{table.header.name}">Name/Bezeichnung</th>
            <th th:text="#{table.header.actions}" class="actions text-right">Aktionen</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="role : ${project.projectRoles}" th:attr="data-id=${role.id}">
                <td class="text-center" width="1%">
                    <span class="fa fa-sort handle"></span>
                </td>
                <td>
                    <span th:text="${role.name}"></span>
                </td>
                <td class="actions text-right">
                    <a data-toggle="modal" data-target="#editProjectRoleModal" th:attr="data-id=${role.id}" href="#" class="btn btn-xs btn-default" th:text="#{label.details}">
                        Details
                    </a>
                    <a th:if="${@projectRoleController.canDelete(project.id, role.id)}" th:attr="data-id=${role.id}" th:href="@{/project/{id}(id=${project.id})}" class="btn btn-xs btn-danger btn-delete" th:text="#{label.delete}">
                        Löschen
                    </a>
                </td>
            </tr>

            <tr th:if="${project.projectRoles.size() == 0}">
                <td colspan="2" class="text-center" th:text="noItemLabel">
                    Keine Einträge vorhanden!
                </td>
            </tr>
        </tbody>
    </table>

    <div th:replace="project/role/modals :: addProjectRoleModal"></div>
    <div th:replace="project/role/modals :: editProjectRoleModal"></div>
</div>
</body>
</html>