<html xmlns:wicket="http://wicket.sourceforge.net/">
<wicket:head>
    <script src="vendors/bootstrap-jasny/js/jasny-bootstrap.min.js"></script>
    <link href="vendors/bootstrap-jasny/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <script>
    $(function(){
    	$('.fileinput').fileinput();
    });
    </script>
</wicket:head>
<wicket:panel>
    <form wicket:id="form">
        <div class="row">
            <div class="col-md-9">
                <wicket:container wicket:id="fileUploadField"></wicket:container>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <wicket:message key="label.upload" />
                </button>
            </div>
        </div>
    </form>

</wicket:panel>
</html>