<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body layout:fragment="content">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0"
                class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img th:src="@{/img/slider/slide-innovation.png}">
                <div class="carousel-caption caption-top">
                    <h3>Assess innovations</h3><br>
                    <h3>Share your knowledge</h3><br>
                </div>
            </div>

            <div class="item">
                <img th:src="@{/img/slider/slide-responsive.png}">
                <div class="carousel-caption caption-top" style="width: 400px;">
                    <h3>Responsive design</h3>
                    <br>
                    <h3>Usable on any device</h3>
                    <br>
                    <h3>Continue working anywhere</h3>
                </div>
            </div>

            <div class="item">
                <img th:src="@{/img/slider/slide-collaboration.png}">
                <div class="carousel-caption caption-top">
                    <h3>Build for collaboration</h3><br>
                </div>
            </div>



        </div>
        <!-- End Carousel Inner -->

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel"
            data-slide="prev"> <span
            class="glyphicon glyphicon-chevron-left"></span>
        </a> <a class="right carousel-control" href="#myCarousel"
            data-slide="next"> <span
            class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <!-- End Carousel -->

    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 text-center">
                <!-- BLOCK -->
                <div class="block">
                    <div class="block-icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="block-body">
                        <h2>Easy to use</h2>
                        <div class="block-title-line"></div>
                        <p>OASIS is easy to use as it is build
                            upon modern and innovative web
                            technologies which make use of the power
                            of modern browsers.</p>
                    </div>
                </div>
                <!-- BLOCK -->
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <!-- BLOCK -->
                <div class="block">
                    <div class="block-icon">
                        <i class="fa fa-group"></i>
                    </div>
                    <div class="block-body">
                        <h2>Build for collaboration</h2>
                        <div class="block-title-line"></div>
                        <p>One goal which was in focus during
                            the whole development process was to
                            support collaboration in an easy and
                            intuitive way.</p>
                    </div>
                </div>
                <!-- BLOCK -->
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <!-- BLOCK -->
                <div class="block">
                    <div class="block-icon">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="block-body">
                        <h2>Easy to customise</h2>
                        <div class="block-title-line"></div>
                        <p>OASIS allows you to define contents
                            just as you need them. You may also
                            reuse predefined content elements and
                            customise them to fit your needs.</p>
                    </div>
                </div>
                <!-- BLOCK -->
            </div>
        </div>
    </div>
</body>
</html>