<html xmlns:wicket>
<body>
<wicket:panel>
    <div>

        <wicket:enclosure child="signin">
            <a href="" wicket:id="register" class="btn btn-default">
                <wicket:message key="form.register.title"/>
            </a>
            <a href="" wicket:id="signin" class="btn btn-success">
                <wicket:message key="form.login.title"/>
            </a>
        </wicket:enclosure>

        <wicket:enclosure child="signout">
            <div class="loginPanel">
                <a class="btn btn-default" href="" wicket:id="userProfile">
                    <i class="fa fa-user"></i>
                    <strong wicket:id="username"></strong>
                </a>

                <a href="" wicket:id="signout" class="btn btn-default">
                    Abmelden
                </a>
            </div>
        </wicket:enclosure>
    </div>
</wicket:panel>
</body>
</html>
