<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.greeting(${username})}">
    Hello, Peter Static!
</p>
<p>
    Sie haben vor Kurzem das Zurücksetzen Ihres Passworts für Ihren Account beantragt.<br>
    Klicken Sie auf den folgenden Link, um ein neues Passwort zu erstellen:
</p>
<p>
    Hierfür klicken Sie bitte auf folgenden Link:<br>
    <a th:with="link = @{__${baseUrl}__/resetPassword/{token}(token=${token})}" th:href="${link}" th:text="${link}">
        http://www.example.org/resetPassword/374947047493904748
    </a>
</p>
<p>
    Herzliche Grüße, <br />
    <em>Ihr OASIS Team</em>
</p>
</body>
</html>