<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="company/layout">
<body>
<div layout:fragment="company_content">
    <h3 th:text="#{label.edit.roles}">
        Rollen bearbeiten
    </h3>

    <div class="well">
        <a th:href="@{/company/{cid}/role/create(cid=${company.id})}" class="btn btn-default btn-primary">
            <span class="fa fa-plus"></span>
            <span th:text="#{label.add}"></span>
        </a>
    </div>

    <ul class="list-group">
        <li class="list-group-item" th:each="role,iter : ${company.roles}">
            <div class="pull-right btn-group" th:if="${employee.role != role}">
                <a th:href="@{/company/{cid}/role/{rid}(cid=${company.id},rid=${role.id})}" class="btn btn-xs btn-default"><span class="fa fa-pencil"></span></a>
                <a th:href="@{/company/{cid}/role/{rid}/delete(cid=${company.id},rid=${role.id})}" th:if="${iter.size > 1}" class="btn btn-xs btn-default"><span class="fa fa-remove"></span></a>
            </div>

            <div class="pull-right btn-group-vertical" th:if="${employee.role == role}">
                <a class="btn btn-xs btn-default" th:text="#{label.your.role}"></a>
            </div>

            <span th:text="${role.name}"></span>
        </li>
    </ul>
</div>
</body>
</html>