<nav th:object="${pagination}">
    <div th:text="${active}">
    </div>
    <ul class="pagination">
        <li>
            <a href="#" th:href="@{?page={page}(page=*{currentPage-1})}" >
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li th:each="page : ${#numbers.sequence(0,pagination.pages-1)}">
            <a href="#" th:href="@{?page={page}(page=${page})}" th:text="${page+1}">1</a>
        </li>
        <li>
            <a href="#" th:href="@{?page={page}(page=*{currentPage+1})}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>