<div th:object="${criterion}" class="criterion-block">
    <div class="criterion">
        <span th:text="*{name}" th:remove="tag"></span>
    </div>
    <div class="description" th:if="${#strings.isEmpty(description) == false}">
        Description
    </div>
    <div class="measure">
        <div class="radio" th:each="measure : *{values}">
            <label>
                <input type="radio" th:name="${criterion.id}" th:value="${criterion.id}">
                <span th:text="${#strings.trim(measure.value)}" th:remove="tag"></span>
            </label>
        </div>
    </div>
</div>