<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://wicket.sourceforge.net/">
<body>
<wicket:head>
<script>
jQuery(document).ready(function(){
    $('.input-group.date').datepicker({
        calendarWeeks: true,
        todayHighlight: true
    });
});
</script>
</wicket:head>
<wicket:panel>
    <form wicket:id="form.project">
        <div class="form-group">
            <label for="name"><wicket:message key="label.name" /></label>
            <input id="name" wicket:id="name" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="description"><wicket:message key="label.description" /></label>
            <textarea id="description" wicket:id="description" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="projectStatus"><wicket:message key="label.project.status" /></label>
            <select id="projectStatus" wicket:id="projectStatus" class="form-control"></select>
        </div>

        <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectStartDate"><wicket:message key="label.project.start.date" /></label>
                    <input id="projectStartDate" wicket:id="projectStartDate" type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="projectStartDate"><wicket:message key="label.project.end.date" /></label>
                    <div class="input-group date col-md-4">
                        <input id="projectEndDate" wicket:id="projectEndDate" type="text" class="form-control" readonly="readonly">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="form-group well">
            <button type="submit" class="btn btn-success" wicket:id="submitButton">
                <wicket:message key="label.save"></wicket:message>
            </button>
            <a href="" class="btn btn-default" wicket:id="cancelButton">
                <wicket:message key="label.cancel"></wicket:message>
            </a>
        </div>
    </form>
</wicket:panel>
</body>
</html>