<html xmlns:wicket>
<body>
<wicket:panel>
    <table class="table">
        <thead>
            <tr>
                <th><wicket:message key="table.header.name" /></th>
                <th class="actions text-right"><wicket:message key="table.header.actions" /></th>
            </tr>
        </thead>
        <tbody>
            <wicket:container wicket:id="items">
                <tr>
                    <td>
                        <span wicket:id="name"></span>
                    </td>
                    <td class="actions text-right">
                        <wicket:container wicket:id="buttons">
                            <a href="" wicket:id="button">
                            </a>
                        </wicket:container>
                    </td>
                </tr>
            </wicket:container>
            <tr wicket:enclosure="noItemLabel">
                <td colspan="2" class="text-center">
                    <span wicket:id="noItemLabel"></span>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div>
        <div class="text-center" wicket:id="navigator.counter"></div>
        <div wicket:id="navigator" class="text-center"></div>
    </div>
</wicket:panel>
</body>
</html>